<section class="content">
    <div class="content-wrapper">
      <h2>Mecánica en general</h2>
      <p>En nuestro taller ofrecemos una variedad de servicios para satisfacer tus necesidades. Aquí te contamos más sobre lo que hacemos:</p>
      <div class="services">
        <div class="service-item">
          <img src="assets/images/motor_puesto_1.jpeg" alt="Servicio 1">
          <h3>Motores</h3>
          <p>Mantenimineto y reparacion de todo tipo de motores.</p>
        </div>
        <div class="service-item">
          <img src="assets/images/caja_abierta_1.jpeg" alt="Servicio 2">
          <h3>Cajas de cambio</h3>
          <p>Reparacioin de cajas en general.</p>
        </div>
        <div class="service-item">
          <img src="assets/images/mecanica_general_1.jpeg" alt="Servicio 3">
          <h3>Mecanica en general. Todas las marcas.</h3>
          <p>Descripción breve del servicio 3.</p>
        </div>
      </div>
    </div>
  </section>
  