<section class="hero text-center text-white d-flex align-items-center" style="background-image: url('assets/images/wallpaper_hero_section_2.png'); background-size: cover; height: 100vh;">
  <div class="container">
    <div class="hero-content">
      <h1 class="display-4">Bienvenido a AR Servicios</h1>
      <p class="lead">Expertos en mecánica general para todo tipo de vehículos. Con más de 20 años de experiencia, ofrecemos soluciones confiables y rápidas para mantener tu auto en las mejores condiciones.</p>
      <div class="cta-buttons mt-4">
        <a href="#services" class="btn btn-primary btn-lg me-2">Ver nuestros servicios</a>
        <a href="#contact" class="btn btn-outline-light btn-lg">Contáctanos</a>
      </div>
    </div>
  </div>
</section>

<section class="content py-5">
  <div class="container">
    <h2 class="text-center mb-4">Mecánica en general</h2>
    <p class="text-center">En nuestro taller ofrecemos una variedad de servicios para satisfacer tus necesidades. Aquí te contamos más sobre lo que hacemos:</p>
    <div class="row mt-4">
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="assets/images/motor_puesto_1.jpeg" class="card-img-top" alt="Servicio 1">
          <div class="card-body">
            <h3 class="card-title">Motores</h3>
            <p class="card-text">Mantenimineto y reparación de todo tipo de motores.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="assets/images/caja_abierta_1.jpeg" class="card-img-top" alt="Servicio 2">
          <div class="card-body">
            <h3 class="card-title">Cajas de cambio</h3>
            <p class="card-text">Reparación de cajas en general.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="assets/images/mecanica_general_1.jpeg" class="card-img-top" alt="Servicio 3">
          <div class="card-body">
            <h3 class="card-title">Mecánica en general. Todas las marcas.</h3>
            <p class="card-text">Descripción breve del servicio 3.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>