<header>
  <nav>
    <div class="logo">
      <img src="assets/images/AR_Servicios_LOGO_1.png" alt="Logo de mi taller">
    </div>
    <div class="title">
      <h1>AR Servicios mecánica general.</h1>
    </div>
    <div class="status">
      <span id="shop-status">Cerrado</span>
    </div>
    <div class="social-media">
      <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
    </div>
  </nav>
</header>
