header .navbar-dark .navbar-brand,
header .navbar-dark .navbar-toggler-icon,
header .social-icon {
    color: #fff; /* Asegura que el texto y los iconos sean blancos */
}

.social-icon {
    font-size: 1.5rem; /* Aumentar el tamaño de los iconos */
}

.social-icon:hover {
    color: #007bff; /* Cambia el color al azul en hover */
}
