header {
    background-color: #071220;
    border-bottom: 1px solid #ddd;
    position: relative;
    padding: 10px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
}

.title {
    margin: 0 auto; 
    text-align: center;
}

.title img {
    height: 250px;
    margin-bottom: 10px;
}

.title h4 {
    font-size:25px;
    color: #fff;
    margin: 0;
}

.social-media {
    display: flex;
    gap: 15px;
    margin-right: 20px;
}

.social-icon {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.social-icon:hover {
    color: #007bff;
}

.social-icon i {
    transition: color 0.3s;
}

#shop-status-bar {
    height: 5px;
    width: 100%;
    background-color: red;
    text-align: center;
    color: #fff;
    font-weight: bold;
    line-height: 5px;
    font-size: 14px;
    padding: 15px 0;
}
