<header>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #071220;">
    <div class="container-fluid">
      <a class="navbar-brand p-0" href="#">
        <img src="assets/images/ar_servicios_banner.png" alt="Banner del taller" style="width: 100%; height: auto; max-height: 200px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="ml-auto">
          <div class="social-media">
            <a href="#" class="social-icon mx-2"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-icon mx-2"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="#" class="social-icon mx-2"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="status-bar">
  <div id="status"></div>
  <div id="countdown"></div>
</div>
