<section class="location py-5">
	<div class="container">
		<h2 class="text-center mb-4">Ubicación</h2>
		<p class="text-center mb-4">
			Nos encontramos en la siguiente dirección:
		</p>
		<div class="map">
      <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d354.24000033767163!2d-69.18211051732342!3d-51.64055497826745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses!2sar!4v1725027956463!5m2!1ses!2sar&layer=c"
      class="w-100" style="height: 450px; border: 0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</div>
</section>
